.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.imageContainer {
  background-color: var(--gray);
  width: 380px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textsContainer h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.textsContainer span {
  font-size: 16px;
  font-weight: 500;
  color: var(--brand-color);
}

.textsContainer p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
} 

@media (max-width: 768px) {
  .imageContainer {
    max-width: 320px;
    max-height: 200px;
  }
}